* {
    padding: 0;
    margin: 0;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  header {
    border-bottom: 1px solid black;
    position: relative;
    overflow: hidden;
  }
  
  .menu {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    background-color: #94a9ff;
    display: flex;
    float: left;
  }
  
  .menu > li {
    flex: 1;
    float: left;
    text-align: center;
    line-height: 80px;
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
  
  .menu > li:first-child {
    border-left: none;
  }
  
  .menu a {
    color: #fff;
  }
  
  #cart {
    position: absolute;
    right: 10px;
    border: 1px solid black;
    background-color: #fff;
    box-sizing: border-box;
  }
  
  #cart img {
    width: 80px;
    height: auto;
  }
  
  .submenu > li {
    line-height: 50px;
    background-color: #94a9ff;
  }
  
  .submenu {
    height: 0;
    overflow: hidden;
  }
  
  .menu > li:hover {
    background-color: #94a9ff;
    transition-duration: 0.5s;
  }
  
  .menu > li:hover .submenu {
    height: 250px;
    transition-duration: 1s;
  }
  
  article {
    display: flex;
    height: 100%;
  }
  
  .left-column {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }
  
  .small-image {
    width: calc(50% - 10px);
    height: 500px;
    background-color: gray;
  }
  
  .small-image img {
    width: 100%;
    height: 100%;
  }
  
  .right-column {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .large-image {
    width: 100%;
    height: 100%;
    background-color: gray;
  }
  
  .large-image img {
    width: 100%;
    height: 100%;
  }
  
  footer {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 20px;
    padding : 20px;
  }

  .lower{
    width : 600px;
    height : 300px;
    object-fit : cover;
    border : 1px;
  }
  .lower img{
    width: 100%;
    height: 100%;
  }
