* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    border-bottom: 1px solid rgb(170, 170, 170);
    position: relative;
    overflow: hidden;
}

.menu {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    background-color: #94a9ff;
    display: flex;
    float: left;
}

.menu>li {
    flex: 1;
    float: left;
    text-align: center;
    line-height: 80px;
    border-left: 1px solid rgb(170, 170, 170);
    border-right: 1px solid rgb(170, 170, 170);
}

.menu>li:first-child {
    border-left: none;
}

.menu a {
    color: #fff;
}

#cart {
    position: absolute;
    right: 10px;
    border: 1px solid rgb(170, 170, 170);
    box-sizing: border-box;
}

#cart img {
    width: 80px;
    height: auto;
}

.submenu>li {
    line-height: 50px;
    background-color: #94a9ff;
}

.submenu {
    height: 0;
    overflow: hidden;
}

.menu>li:hover {
    background-color: #94a9ff;
    transition-duration: 0.5s;
}

.menu>li:hover .submenu {
    height: 250px;
    transition-duration: 1s;
}

article {
    display: flex;
    height: 100%;
}

.left-column {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.product-card {
    width: calc(50% - 10px);
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 20px;
}

.product-card img {
    width: 100%;
    height: auto;
}

.product-content {
    float : left;
    padding: 8px;
}

.product-content .product-name {
    display: block;
    font-size: 15px;
    margin: 8px 0;
}

.product-content .product-price {
    display: block;
    font-weight: 600; 
    font-size: 20px;
}

.right-column {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.largeProduct-card {
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 20px;
}
.largeProduct-card .product-name{
    display : block;
    font-size : 30px;
    margin : 8px auto;
}

.largeProduct-card .product-price{
    display: block;
    font-weight: 600; 
    font-size: 40px;
}
.largeProduct-card img {
    width: 100%;
    height: auto;
}

footer {
   height : 100%;
}

.footer-column{
    display : flex;
    gap : 20px;
}