body {
    font-family: 'Quicksand', sans-serif;
    background-color: #CCCCCC;
    color: #333;
    line-height: 1.6;
}

header {
    border-bottom: 1px solid rgb(170, 170, 170);
    background-color: #ffffff50;
    position: relative;
    overflow: hidden;
    padding: 10px 0;
}

.menu {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.menu > li {
    position: relative;
    text-align: center;
    line-height: 40px;
}

.menu a {
    color: black;
    font-weight: 500;
    padding: 10px 20px;
    display: block;
}

.menu a:hover {
    background-color: #555555;
    border-radius: 5px;
}

#icons {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 10px;
}

#icons img {
    width: 40px;
    height: auto;
    cursor: pointer;
}

#icons img:hover {
    background-color: #555555;
}

article {
    display: flex;
    padding: 20px;
    justify-content: center;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.product-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 180px;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.product-card img {
    width: 100%;
    object-fit: cover;
}

.product-content {
    padding: 10px;
}

.product-content .product-name {
    font-weight: 600;
    margin: 10px 0;
    color: #333;
}

.product-content .product-price {
    font-weight: 600;
    font-size: 1.2em;
    color: #3c94e7;
}

.add-to-cart {
    background-color: #e73c3c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-cart:hover {
    background-color: #e75b3c;
}