* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #CCCCCC;
    color: #333;
    line-height: 1.6;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    border-bottom: 1px solid rgb(170, 170, 170);
    background-color: #ffffff50;
    position: relative;
    overflow: hidden;
    padding: 10px 0;
}

.menu {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.menu > li {
    position: relative;
    text-align: center;
    line-height: 40px;
}

.menu a {
    color: black;
    font-weight: 500;
    padding: 10px 20px;
    display: block;
}

.menu a:hover {
    background-color: #555555;
    border-radius: 5px;
}

#icons {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 10px;
}

#icons img {
    width: 40px;
    height: auto;
    cursor: pointer;
}

#icons img:hover {
    background-color: #555555;
}


article {
    display: flex;
    padding: 20px;
    justify-content: center;
    width: 100%;
}
.products {
    display: flex;
    flex-direction: column; /* 세로 방향으로 배치 */
    gap: 20px; /* 각 상품-리뷰 쌍 간의 간격 설정 */
    width: 100%;
    max-width: 1200px;
}

.product-review {
    display: flex;
    flex-direction: row; /* 상품과 리뷰를 수평 방향으로 배치 */
    gap: 20px; /* 상품과 리뷰 간의 간격 설정 */
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 275px; /* 고정된 너비로 설정 */
}

.product-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-content {
    padding: 10px;
}

.product-content .product-name {
    display: block;
    font-weight: 600;
    margin: 10px 0;
    color: #333;
}

.product-content .product-price {
    display: block;
    font-weight: 600;
    font-size: 1.5em;
    color: #3c94e7;
}

.review {
    background: #f9f9f9;
    border: 1px dotted black;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
}

.review .text {
    overflow: hidden; /* 스크롤바 숨기기 */
    height: 300px;
    text-overflow: ellipsis; /* 넘칠 때 생략 표시 추가 */
}

